div{
    border:1px solid black;
    margin:0;
    padding:0;
}
.container {
    display: grid;
    background-color: rgb(205, 212, 212);
    grid-template-columns: 1fr 4fr;
    grid-template-rows: .5fr 4fr;
}
.sidebar {
    background-color: rgb(0, 204, 255);
    grid-column: 1;
    grid-row:1 / 3;
}
.side-bar-logo {
}
.side-bar-header {
}
.side-bar-nav-links {
}
.side-bar-support-links {
}
.header {
    background-color: white;
    grid-column: 2 / 3;
    grid-row: 1/2;
    padding:1rem 2rem;
}
.header div{
    border:none;
}
.header-top{
    display: flex;
    flex:auto;
    height: 50%;
    align-items: center;
    justify-content: space-around;
}
.header-bot{
    display: flex;
    height:50%;
}
#search-logo{
    width:2rem;
    height:2rem;
}
#user-logo{
    width:2.2rem;

}
#notification{
    width:2rem;
}
.search-area{
    display:flex;
    align-items: center;
    justify-content: flex-start;
    width:70%
}
#search-bar{
    width:100%;
    height: 1.5rem;
    border-radius: 1rem;
}
.user-info{
    display: flex;
    align-items: center;
    justify-content:flex-end;
    width:30%;
}
.user-profile-name {
    font-weight: 400;
    font-size: 1.6rem;
}
.header-welcome {
}
.welcome-log {
}
.welcome-message {
}
.welcome-user {
}
.btn-collection {
}
.content {
    background-color: bisque;
    grid-column: 2/3;
    grid-row: 2/3;
}
.projects-container {
}
.section-title {
}
.project-card {
    background-color: yellow;
}
.project-name {
}
.project-desc {
}
.card-btns {
}
.content-sidebar {
}
.announcements {
}
.announcement-card {
}
.announcement-title {
}
.announcement-message {
}
.trending {
}
.trending-card {
}
.trending-profile-logo {
}
.trending-profile-name {
}
.trending-message {
}
